<div class="preview-container">
  <div class="product-hd-image">
    <img src="./assets/prod-test1.jpg" alt=""/>
  </div>
  <div class="preview-list swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide preview-slide active">
        <a href="#"></a>
        <img src="./assets/prod-test1.jpg" alt=""/>
      </div>
      <div class="swiper-slide preview-slide">
        <a href="#"></a>
        <img src="./assets/prod-test2.jpg" alt=""/>
      </div>
      <div class="swiper-slide preview-slide">
        <a href="#"></a>
        <img src="./assets/prod-test1.jpg" alt=""/>
      </div>
      <div class="swiper-slide preview-slide">
        <a href="#"></a>
        <img src="./assets/prod-test2.jpg" alt=""/>
      </div>
      <div class="swiper-slide preview-slide">
        <a href="#"></a>
        <img src="./assets/prod-test1.jpg" alt=""/>
      </div>
      <div class="swiper-slide preview-slide">
        <a href="#"></a>
        <img src="./assets/prod-test2.jpg" alt=""/>
      </div>
    </div>
  </div>
</div>