<div class="detail-container">
  <div class="product-nav">
    <ul class="clearfix">
      <li class="product-nav-item i18n active" data-i18n="product.detail" data-nav="details"></li>
      <li class="product-nav-item i18n" data-i18n="product.function" data-nav="functions"></li>
    </ul>
  </div>
  <div class="nav-content">
    <div class="product-detail">
      <img src="./../../assets/index/index-assets.png" alt=""/>
      <img src="./../../assets/index/index-coins.png" alt=""/>
      <img src="./../../assets/index/index-multi-address.png" alt=""/>
      <img src="./../../assets/index/index-operation.png" alt=""/>
      <img src="./../../assets/index/index-payment.png" alt=""/>
      <img src="./../../assets/index/index-portable.png" alt=""/>
    </div>
    <div class="product-function">
      <img src="./../../assets/product/prod-bluetooth.png" alt=""/>
      <img src="./../../assets/product/prod-combination.png" alt=""/>
      <img src="./../../assets/product/prod-fingerprint.png" alt=""/>
      <img src="./../../assets/product/prod-hardware.png" alt=""/>
      <img src="./../../assets/product/prod-offline.png" alt=""/>
      <img src="./../../assets/product/prod-security.png" alt=""/>
    </div>
  </div>
</div>
