@import "./theme";
@import "./mixin";

.index-display {
  .container {
    margin: 0 auto;
    @include wh(100%, 55vw);
    &.index-assets {
      @include icon-normal('./../assets/index/index-assets.png');
    }
    &.index-multi-address {
      @include icon-normal('./../assets/index/index-multi-address.png');
    }
    &.index-payment {
      @include icon-normal('./../assets/index/index-payment.png');
    }
    &.index-operation {
      @include icon-normal('./../assets/index/index-operation.png');
    }
    &.index-portable {
      @include icon-normal('./../assets/index/index-portable.png');
    }
    &.index-coins {
      @include icon-normal('./../assets/index/index-coins.png');
    }
  }
}

@media only screen and (max-width: 768px) {
  .prod-intro {
    .container {
      display: flex;
      align-items: center;
      .image {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .prod-content {
        width: 50%;
        padding-left: 2%;
        h2 {
          font-size: .28rem;
          font-weight: bolder;
        }
        p {
          font-size: .12rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .prod-intro {
    .container {
      display: flex;
      align-items: center;
      .prod-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
      }
      .image {
        img {
          width: 100%;
        }
      }
      .left, .right {
        width: 50%;
      }
      h2 {
        padding: .2rem 0 .1rem;
        font-size: .4rem;
        font-weight: bolder;
      }
      p {
        margin-top: .1rem;
        font-size: .24rem;
      }
    }
  }
}
