@import "theme";
@import "mixin";

.login-wrapper {
  h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bolder;
    font-size: .6rem;
  }
  input {
    display: block;
    margin: 0 auto;
    padding: .2rem .32rem;
    border: 1px solid $light-border;
    font-size: .2rem;
    &:not(:first-child) {
      margin-top: .4rem;
    }
  }
  .error-block {
    margin-top: .2rem;
    margin-bottom: -.2rem;
    text-align: center;
    font-size: .2rem;
    color: red;
  }
  .login-button {
    display: block;
    margin: 0 auto;
    margin-top: .4rem;
    padding: .2rem 0;
    border-radius: .1rem;
    text-align: center;
    font-size: .28rem;
    background-color: $theme-color;
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .login-wrapper {
    padding: 20% .4rem;
    input {
      width: 80%;
    }
    .login-button {
      width: 80%;
      &:active {
        opacity: .9;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .login-wrapper {
    padding: 16% 0;
    input {
      width: 30%;
    }
    .login-button {
      width: 30%;
      &:hover {
        opacity: .9;
      }
      &:active {
        opacity: .8;
      }
    }
  }
}
