<footer>
  <div class="container">
    <a href="" class="logo col-lg-2 hide-xs">
      <img src="../header/assets/logo.png" alt="LinkDam" title="LinkDam"/>
    </a>
    <div class="links col-lg-1">
      <a href="index.html" class="i18n" data-i18n="header.index"></a>
      <a href="product.html" class="i18n" data-i18n="header.product"></a>
      <a href="index.html" class="i18n" data-i18n="header.down"></a>
      <a href="index.html" class="i18n" data-i18n="header.help"></a>
    </div>
    <div class="contact col-lg-2">
      <p><span class="i18n" data-i18n="header.email">邮箱：</span><a href="">1234567@linkdam.com</a></p>
    </div>
  </div>
</footer>
