@import "theme";
@import "mixin";

.choose-color {
  span {
    float: left;
    border: 1px solid $grey-border;
    font-size: .24rem;
    background-color: $light-grey-background;
    &.active {
      color: #fff;
      background-color: $theme-color;
      border-color: $theme-color;
    }
  }
}

.price {
  margin-top: .4rem;
  font-size: .4rem;
}

.purchase-button {
  display: inline-block;
  padding: .2rem;
  border-radius: .2rem;
  text-align: center;
  font-size: .32rem;
  color: #fff;
  background-color: $theme-color;
}

@media only screen and (max-width: 768px) {
  .purchase-box {
    padding: .4rem .6rem 0;
    h2 {
      margin: .2rem 0;
      font-size: .48rem;
    }
    .choose-color {
      margin-top: .4rem;
      span {
        padding: .1rem .4rem;
        &:not(:first-child) {
          margin-left: .2rem;
        }
      }
    }
    .purchase-button {
      width: 100%;
      &:active {
        opacity: .85;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .purchase-box {
    float: left;
    padding: 10% 4% 0;
    h2 {
      font-size: .4rem;
    }
    .choose-color {
      margin-top: 20px;
      span {
        padding: 4px 20px;
        cursor: pointer;
        &:not(.active):hover {
          opacity: .8;
        }
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
    .purchase-button {
      width: 6rem;
      &:hover {
        opacity: .8;
      }
    }
  }
}
