@import "theme";
@import "mixin";

.swiper-slide {
  background: url("./assets/banner.png") no-repeat;
  background-size: 100% 100%;
  a {
    display: inline-block;
    @include wh(100%, 100%);
  }
}

@media only screen and (max-width: 768px) {
  .swiper-slide {
    @include wh(100%, 6rem);
  }
}

@media only screen and (min-width: 768px) {
  .swiper-slide {
    @include wh(100%, 41.666666vw);
  }
}
