<section class="banner">
  <div class="banner-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide banner-slide">
        <a href="#"></a>
        <!--<img src="./assets/banner.png" alt=""/>-->
      </div>
      <!--<div class="swiper-slide banner-slide">-->
        <!--<a href="#"></a>-->
        <!--&lt;!&ndash;<img src="./assets/banner.png" alt=""/>&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="swiper-slide banner-slide">-->
        <!--<a href="#"></a>-->
        <!--&lt;!&ndash;<img src="./assets/banner.png" alt=""/>&ndash;&gt;-->
      <!--</div>-->
    </div>
    <div class="swiper-pagination banner-pagination"></div>
  </div>
</section>
